
html {
    background-image: linear-gradient(to right top, #2d545e, #264c55, #1f444c, #193c43, #12343b);
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    background-image: linear-gradient(to right top, #2d545e, #264c55, #1f444c, #193c43, #12343b);
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}

h3 {
    font-weight: 18px;
    font-weight: 700;
    margin: 10px;
}

a {
    color: black;
    display: inline-block;
    margin-left: .5px;
    justify-content: center;
}
a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    text-align: center;
}

a:active {
    /*selected link*/
    color: #489c79;
}

/* Header Start */
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: solid;
    border-color: #e1b382;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
    max-height: 50px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
    color: #e1b382;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    color: #e1b382;
}

.navigation-list__item--active {
    text-decoration: none;
    color: #e1b382;
}
/* Header End */

/* Footer Start */
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background-image: transparent;
    height: 400px;
}
/* Footer End */

/* body */
body {
    background-color: #ffffff;
}

/* button */
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #e1b382;
    color: black;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button-secondary {
    background-color: #e1b382;
    color: #2b2b2b;
}

/* button end */

/* Home Page */
.profile__portrait {
    display: flex;
    justify-content: left;
    float: left;
    width: 300px;
    margin-right: 40px;
    border-radius: 80%;
    animation: 8s fadeIn 1 alternate linear;
    margin-top: 0px;
}

.curved-lines {
    float: right;
    animation: 75s spin infinite linear;
    margin-top: -10px;
}

.rough-sketch-line {
    margin-left: 2px;
    width: 1100px;
    animation: 7s slide-right 1  linear; 
    margin-top: 100px; 
}

.profile {
    max-width: 800px;
    margin: 40px auto 40px auto;
    -webkit-animation: 2s slide-right 1 alternate linear;
    animation: 4s fadeIn 1 alternate linear;
    margin-top: 35px;
}

div.code-button {
    border: none;
    display: inline-block;
    max-width: 200px;

    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #e1b382;
    color: black;
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
    animation: 4s fadeIn 1 alternate linear;
    margin-left: 45px;
}


.download-cv-link {
    border: none;
    display: inline-block;
    max-width: 200px;

    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #e1b382;
    color: black;
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
    margin-top: 3px;
    animation: 4s fadeIn 1 alternate linear;
    margin-left: 75px;
}

.download-cv-link:hover,
.download-cv-link:focus {
    cursor: pointer;
    opacity: 0.8;
    background-color: #c89666;
    transition: 0.4s;
}

div.code-button:hover,
div.code-button:focus {
    cursor: pointer;
    opacity: 0.8;
    background-color: #c89666;
    transition: 0.4s;
}

/* media q for Home Page */
@media screen and (max-width: 900px) {
    .profile__portrait {
        flex-direction: column;
        justify-content: center;
        float: none;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-left: 5px;
        margin-right: 10px;
    } 
    .contact-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left:auto;
    } 
    .rough-sketch-line {
        display: none;
    }

    .curved-lines {
        display: none;
    }
}
/*ends Home Page */

/* contact page profile information */

.contact-main{ 
    display: flex;
    justify-content: left;
    margin: 100px;
}
.contact-profile {
    max-width: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
}
/* picture on Contact page */
.family-portrait {
    float: left;
    width: 350px;
    height: 475px;
    border-radius: 80%;
    margin-top: 25px;
    margin-bottom: 25px;

}

div.contact-form {
    display: inline-block;
    text-align: left;
    justify-content: center;
    border: 3px solid #c89666;
    max-width: 215px;
    margin: 0 auto;
    padding: 10px;
}
form {
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: left;
    margin-bottom: 25px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.submit{
    border: none;
    display: inline-block;
    max-width: 200px;

    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #e1b382;
    color: black;
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
    animation: 4s fadeIn 1 alternate linear;
    margin-left: 45px;
}

.criss-cross {
    max-width: 100%;
    height:auto;
    max-height: 625px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    animation: 50s spin infinite alternate linear;

}
/* ends contact page*/

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 35%;
}
/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive*/

        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;

        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        margin: 20px;
    }

    .grid__item {
        background-color: #e1b382;
        color: black;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 5px;
    }

}

/*media q for grid on work page*/
@media all and (max-width: 750px) {
    /* shared code */
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

.button,
button {
    /* overwrites browser defaults */
    /* resets the border */
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #e1b382;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

/* About Page*/
    /*cv button on about page */
.cv-button,
button {
    /* overwrites browser defaults */
    /* resets the border */
    border: none;
    display: flex;
    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: #e1b382;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
    margin-bottom: 20px;
    max-width: 150px;
    margin-left: 960px;
    
    
}

cv-button:hover,
cv-button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

/*about top text*/

div.about-profile {
    float: left;
    max-width: 500;
    margin-left: 10px;
    text-align: center;
    border: 2px solid #e1b382;
    margin-top: 5px;
    padding: 10px;
}
.about {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    -webkit-animation: 3s fadeIn 1 alternate linear;
    animation: 3s fadeIn 1 alternate linear;
}
/* list on about page*/
.about-list {
    list-style-type: none;
    padding-left: 0;
}

/*table on about page*/
.about-table {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    table-layout: fixed;
    max-width: 450px;
    margin-top: 10px;
}

table {
    display: table;
    padding: 15px;
    margin: 0 auto;
    width: 90%;
    border-collapse: separate;
}

thead {
    height: 25px;
    padding: 20px;
    margin: 0 auto;
    background-color: #008080;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* saints color change */
.saints-logo {
    -webkit-animation: 4s color-change infinite alternate linear;
    animation: 4s color-change infinite alternate linear;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 900px) {
    div.about-profile {
        flex-direction: column;
        justify-content: center;
        float: none;
    }
}
/* End About Page */

/* Animations */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Keyframes Sun */
/* color-change is the name selected for the animation */
@-webkit-keyframes color-change {
    0% {
        fill: #fbfbfa;
    }
    50% {
        fill: #7b7a79;
    }
    100% {
        fill: #090908;
    }
}
@keyframes color-change {
    0% {
        fill: #fbfbfa;
    }
    50% {
        fill: #7b7a79;
    }
    100% {
        fill: #090908;
    }
}


/* keyframes front cloud */
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0px, 50px);
        transform: translate(0px, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0px, 50px);
        transform: translate(0px, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

/* kayframes back cloud */

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}


/*animation for spin*/
@keyframes spin { 
    0% { 
        transform:rotateZ(0deg);
    } 
    100% {
        transform: rotateZ(-360deg)
    }
}


/* animation for Slide In*/
@-webkit-keyframes slide-right {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}
@keyframes slide-right {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}


/*
Colors used

Text Color (Light Gray): #d3d3d3;
Primary Color (Dark Gray): #5a5a5a;
Secondary Color (Teal): #008080;
 */